@import "tailwindcss";

.cl-avatarBox{
    width: 48px;
    height: 48px;
}
input{
    background-color: #ffff;
    accent-color: red;
    border: 1px solid #ccc;
    color:#333;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-area, .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media print {
  .no-print {
    display: none;
  }
}